@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@media only screen and (min-width:1200px){
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 1em;
    }
    header{
        background-color: #232731;
        /* border: 2px solid green; */
    
    }
    
    .nav_index{
        display: flex;	
        justify-content: center;	
        flex-direction: row;
    }
    
    li{
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    li a{
        padding: 8px 20px;
        margin: 20px;
        display: flex;
        align-items: center;
        color: white;
        font-style: normal;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    li a:hover{
        color: #F16856;
        border-bottom: 3px solid #F16856;
        transition-delay: 0.2s;
    }
    ul{
        list-style-type: none;
        display: flex;
        align-items: stretch;
        margin-top: 4%;
    }
    /* --------------------------------vendedores----------------------------- */
    .vendedor_container{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
        margin: 1% 5% 1% 5%;
    }
    .vendedos_wrapper{
        display: flex;
        flex-direction: column;
        /* border: 2px solid black; */
        /* justify-content: space-around; */
        width: 1000px;
        padding: 1%;
    }

    .vendedor_info{
        display: flex; 
        width: 250px;
        /* border: 2px solid #F16856; */
    }
    
    .vendedor_back {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
    }
    .vendedor_map {
        display: flex; 
        flex-direction: column;
        width: 500px;
    }
    /* --------------------------------email----------------------------- */
    label{
        display:block;
        /* margin-top:15px; */
    }
    .input1{
        display:block;
        height:55px;
        /* border:1px solid #e5e5e5; */
        /* background:#f0f0f0; */
        padding:6px 6px 6px 11px;
        /* margin-top: 1px; */
        width: 100%;
        border-left: solid 10px #232731;
        border-top: solid 1px #232731;
        border-right: solid 1px #232731;
        border-bottom: solid 0px white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    .input2{
        display:block;
        height:55px;
        /* border:1px solid #e5e5e5; */
        /* background:#f0f0f0; */
        padding:6px 6px 6px 11px;
        /* margin-top: 1px; */
        width: 100%;
        border-left: solid 10px #232731;
        border-top: solid 1px #232731;
        border-right: solid 1px #232731;
        border-bottom: solid 1px #232731;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    
    .input1:hover{
        border-left: solid 10px #F16856;
        border-top: solid 1px #F16856;
        border-right: solid 1px #F16856;
        
    }
    .input2:hover{
        border-left: solid 10px #F16856;
        border-top: solid 1px #F16856;
        border-right: solid 1px #F16856;
        border-bottom: solid 1px #F16856;
    }
    .email_container{
        width: 960px;
        margin-top: 8%;
    }
    /* .g-recaptcha{
        margin-top:15px;
    } */
    .send{
        /* background: #F16856; */
        margin-left: 82%;
        margin-top: 1%;
        color:#232731;
        background-color: white;
        border: solid 1px;
        padding: 20px 60px 20px 60px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        
    }
    /* ----------------text------------------------------- */
    .text1{
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .text2{
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }
    .text3{
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        padding: 2%;
    }
    .text4{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: #F16856;
        padding: 2%;
    }
    .text5{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        padding: 2%;
    }
    .text6{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    .text7{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

    /* --------------------------------footer----------------------------- */
    footer{
        /* border: 2px solid violet; */
        height: 300px;
        background-color: #232731;
        color: white;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .footer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
    }
    a.footer_btn{
        border: 2px solid white;
        padding: 20px 60px 20px 60px;
        margin: 30px 0px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    a.footer_btn:hover{
        background-color: white;
        color: #232731;
    }
    .end_container{
        display: flex;
        flex-direction: row;
        padding: 1%;
        margin: 2%;
    }
    .end_placeholder{
        display: flex;
        align-items: center;
        padding: 1%;
        margin-right: 3%;
    }
    .dit_container{
        border-left: 3px solid white;
        padding-left: 1%;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 600;
    }
    .footertext1{
        font-family: 'roboto', sans-serif;
        font-size: 12px;
    }
    .footer_img{
        margin-top: 4%;
    }
}