*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}
nav{
    width: 100%;
    background-color: #232731;
    z-index: 1;		
}

.nav_index{
    display: flex;	
    justify-content: center;	
    flex-direction: row;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
}

li a{
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    font-style: normal;
    font-family: sans-serif;
    
}
li a:hover{
    color: #F16856;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: stretch;
    margin-top: 4%;

}

/*-------------------------------------------------------------------------------------*/

.homepage{
    width: 100%;
    background-image: url('./img/homedtr.png');
    background-color: #2c2d30;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /*adequa a imagem ao tamanho da caixa*/
}

.homepage .homepage_content{
    max-width: 1300px;
    margin: 0 auto;
}

.homepage .homepage_content .homepage_content_spacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}
/*-------------------------------------------------------------------------------------*/

.carrossel {
background-color: #232731;
width: 100%;
height: 550px;

}

.text_carrossel {
color: white;
text-align: center;

}






/*color: #F16856


*/