@media only screen and (min-width:1200px) {
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 1em;
    }
    header{
        background-color: #232731;
        border: 2px solid green;
    
    }
    
    .nav_index{
        display: flex;	
        justify-content: center;	
        flex-direction: row;
    }
    
    li{
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    li a{
        padding: 10px;
        display: flex;
        align-items: center;
        color: white;
        font-style: normal;
        font-family: sans-serif;
        
    }
    li a:hover{
        color: #F16856;
        border-bottom: 3px solid #F16856;
        transition-delay: 0.2s;
    }
    ul{
        list-style-type: none;
        display: flex;
        align-items: stretch;
        margin-top: 4%;
    }
    /*------------------------------header-------------------------------------------------------*/
    
    /*------------------------------carrossel-------------------------------------------------------*/
    .carrossel {
        background-color: #232731;
        height: 550px;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background_carrosel{
        width: 50%;
        height: 50%;
        background-color: #171a20;
        position: absolute;
        opacity: 0.3;

    }
    .carrossel_info{
        border: 2px solid black;
        color: white;
        text-align: center;
    }
    /*------------------------------------produtos-------------------------------------------------*/
    .produto{
        border: 2px solid blue;
        height: 880px;
        background-color: white;
        color: #232731;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .produto_img{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    /* .produto_img:hover{
        opacity: 0.5;
        transition-delay: 0.2s;
    } */
    #img_teste:hover{
        opacity: 0.5;
        transition-delay: 0.2s;
    }
      
    /*------------------------------------sobre-------------------------------------------------*/
    .sobre{
        border: 2px solid yellow;
        height: 880px;
        background-color: rgb(233, 233, 233);
        color: #232731;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sobre div{
        margin: 5%;
    }

    a.sobre_btn{
        border: 2px solid #232731;
        padding: 20px 60px 20px 60px;
        margin: 30px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: #232731;
    }
    a.sobre_btn:hover{
        background-color: #232731;
        color: white;
    }
    /*------------------------------------catalogo-------------------------------------------------*/
    .catalogo{
        /* border: 2px solid orange; */
        height: 880px;
        background-color: #232731;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .catalogo div{
        margin: 3%;
        
    }
    a.cat_btn{
        border: 2px solid white;
        padding: 20px 60px 20px 60px;
        margin: 30px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    a.cat_btn:hover{
        background-color: white;
        color: #232731;
    }
    /*------------------------------------footer-------------------------------------------------*/
    footer{
        /* border: 2px solid violet; */
        height: 300px;
        background-color: #232731;
        color: white;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .footer_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    a.footer_btn{
        border: 2px solid white;
        padding: 20px 60px 20px 60px;
        margin: 30px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    a.footer_btn:hover{
        background-color: white;
        color: #232731;
    }
    .end_container{
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    .end_placeholder{
        display: flex;
        align-items: center;
        padding: 1%;
    }
    .dit_container{
        border-left: 3px solid white;
        padding-left: 1%;
    }
}



/*color: #F16856 laranja
  color: #232731 cinza


*/